.custom-background {
    background-image: url('/assets/images/pictures/opc_1.jpg');
    /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 7rem;
}

.custom-background::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.mi-text-white {
    color: #fff;
    position: absolute;
}