.bg-image{
    /* The image used */
    background-image: url('/assets/images/pictures/bg_2.jpg') ;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
  }
  
//   .bg-image::before{
//     content: none;
//     display: block;
//     background: inherit;
//     position: absolute;
//     width: 100%; height: 100%;
//     left: 0; top: 0;
//     filter: blur(3px);
//     transform: scale(1.2,1.4);
//   }

.my-bg-gradient {
    background: rgb(9,9,121);
    background: linear-gradient(144deg, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
}