<div class="row px-3 pt-3">
    <div class="col">
        <div class="card shadow rounded">
            <div class="card-body">
                <div class="row py-5 d-flex justify-content-center align-items-center">
                    <div class="col text-center">
                        <h1 class="h1">ERROR 403</h1>
                        <h3 class="h2">Acceso denegado</h3>
                        <h4 class="h4">No tienes los permisos necesarios para acceder a esta página.</h4>
                        <img src="assets/images/errors/403.png" alt="Acceso denegado">
                        <br>
                        <button class="btn btn-info px-4" (click)="backToHome()">Regresar al inicio</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>